In [19]:
import numpy as np
import pandas as pd
import random

lista_nomi = ['Paperino','Pippo','Pluto', 'Giovanni', 'Marco']
lista_citta = ['Milano','Napoli','Agrate Brianza','Roma','Torino']

n = 30

nomi_casuali = random.choices(lista_nomi, k=n)
citta_casuali = random.choices(lista_citta, k=n)
salari = np.random.randint(20,100,size = n - 1)
eta = np.random.randint(0,120, size = n)
salari_nan = np.append(salari , np.nan)

df = pd.DataFrame({
    'Nome': nomi_casuali,
    'Città': citta_casuali,
    'Salario in K': salari_nan,
    'Età': eta
})

In [20]:
print(df.head())
print(df.tail())

       Nome   Città  Salario in K  Età
0  Paperino  Napoli          81.0  116
1     Pippo  Milano          30.0   27
2  Paperino  Milano          78.0   24
3     Pippo  Torino          65.0   98
4     Pippo  Napoli          83.0  101
        Nome           Città  Salario in K  Età
25  Giovanni          Torino          75.0   86
26     Pluto            Roma          66.0    9
27     Pippo            Roma          69.0  108
28     Marco  Agrate Brianza          76.0  113
29     Marco          Torino           NaN   79

In [21]:
df.dtypes

Nome             object
Città            object
Salario in K    float64
Età               int32
dtype: object

In [22]:
media_salario = df['Salario in K'].mean()
media_eta = df['Età'].mean()
mediana_salario = df['Salario in K'].median()
mediana_eta = df['Età'].median()
std_salario = df['Salario in K'].std()
std_eta = df['Età'].std()

print(media_salario,media_eta,mediana_salario,mediana_eta,std_salario,std_eta)

61.62068965517241 68.66666666666667 61.0 73.5 21.195373135770264 35.31760656292175

In [23]:
df_nuovo = df.drop_duplicates()
len(df_nuovo)

30

In [24]:
def categoria_eta(eta):
    if eta < 18:
        return 'Giovane'
    elif 18 <= eta < 66:
        return 'Adulto'
    else:
        return 'Senior'

df['Categoria Età'] = df['Età'].apply(categoria_eta)

In [27]:
df['Salario in K'].fillna(df['Salario in K'].median(), inplace= True)
df

C:\Users\aless\AppData\Local\Temp\ipykernel_22212\3471200478.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salario in K'].fillna(df['Salario in K'].median(), inplace= True)

        Nome           Città  Salario in K  Età Categoria Età
0   Paperino          Napoli          81.0  116        Senior
1      Pippo          Milano          30.0   27        Adulto
2   Paperino          Milano          78.0   24        Adulto
3      Pippo          Torino          65.0   98        Senior
4      Pippo          Napoli          83.0  101        Senior
5   Paperino  Agrate Brianza          26.0   90        Senior
6      Marco          Napoli          20.0   27        Adulto
7      Marco  Agrate Brianza          46.0   76        Senior
8      Pippo            Roma          40.0   15       Giovane
9   Giovanni          Torino          98.0   63        Adulto
10  Paperino  Agrate Brianza          50.0   36        Adulto
11     Pippo          Milano          45.0  110        Senior
12     Pluto          Napoli          66.0   23        Adulto
13     Pippo          Torino          37.0   35        Adulto
14  Giovanni          Milano          52.0   62        Adulto
15     Pippo  Agrate Brianza          91.0   28        Adulto
16     Pippo          Napoli          98.0   65        Adulto
17  Paperino          Milano          61.0   82        Senior
18     Pluto          Milano          53.0   32        Adulto
19     Pippo  Agrate Brianza          59.0  104        Senior
20  Giovanni          Napoli          87.0  114        Senior
21     Pluto          Napoli          83.0   71        Senior
22     Marco          Torino          42.0   53        Adulto
23     Marco  Agrate Brianza          55.0  109        Senior
24  Paperino            Roma          55.0  104        Senior
25  Giovanni          Torino          75.0   86        Senior
26     Pluto            Roma          66.0    9       Giovane
27     Pippo            Roma          69.0  108        Senior
28     Marco  Agrate Brianza          76.0  113        Senior
29     Marco          Torino          61.0   79        Senior

In [ ]:
df.to_csv('righe.csv', index=False)