In [3]:
import numpy as np
import pandas as pd
import random

lista_nomi = ['Paperino','Pippo','Pluto', 'Giovanni', 'Marco']
lista_citta = ['Milano','Napoli','Agrate Brianza','Roma','Torino']

n = 30

nomi_casuali = random.choices(lista_nomi, k=n)
citta_casuali = random.choices(lista_citta, k=n)
salari = np.random.randint(20,100,size = n)
eta = np.random.randint(0,120, size = n)

df = pd.DataFrame({
    'Nome': nomi_casuali,
    'Città': citta_casuali,
    'Salario in K': salari,
    'Età': eta
})

In [5]:
print(df.head())
print(df.tail())

       Nome   Città  Salario in K  Età
0     Marco    Roma            37   49
1  Paperino  Milano            44   25
2     Marco  Torino            68   34
3  Giovanni    Roma            23   80
4     Marco    Roma            53   59
        Nome   Città  Salario in K  Età
25     Marco  Torino            39  118
26  Giovanni  Napoli            96    1
27     Pippo    Roma            85  112
28     Marco  Milano            33   50
29     Pippo  Napoli            75   34

In [6]:
media_salario = df['Salario in K'].mean()
media_eta = df['Età'].mean()
mediana_salario = df['Salario in K'].median()
mediana_eta = df['Età'].median()
std_salario = df['Salario in K'].std()
std_eta = df['Età'].std()

print(media_salario,media_eta,mediana_salario,mediana_eta,std_salario,std_eta)

63.6 63.4 65.5 57.5 25.56209478221948 40.98578391050513

In [7]:
df_nuovo = df.drop_duplicates()
len(df_nuovo)

30